name: Terraform Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Terraform Init
      run: terraform init --reconfigure
      working-directory: terraform_wordpress

    - name: Terraform Plan
      run: terraform plan  -var-file=envs/dev.tfvars
      working-directory: terraform_wordpress

    - name: Terraform Apply
      run: terraform destroy -auto-approve -var-file=envs/dev.tfvars
      working-directory: terraform_wordpress
